<a href="https://colab.research.google.com/github/JYOTIRMAYEE-2004/jyotirmayee_2201206026/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=input('enter your name')
print('myself',a)

enter your namejyoti
myself jyoti

In [ ]:
a=12
b=12
c=2022
print(a,b,c,sep="-")

12-12-2022

In [ ]:
a=input('Enter first no:')
b=input('Enter second no:')
c=a+b
print(c)

Enter first no:567
Enter second no:76767
56776767

In [ ]:
a=100
print("a=",a)

a= 100

In [ ]:
a=input('Enter first no:')
b=input('Enter second no:')
c=a+b
print(c)

Enter first no:678
Enter second no:678
678678

In [ ]:

#Arithimatic operators
a=2
b=5
c=a+b
print('a+b=',c)
d=a-b
print('a-b=',d)
e=a*b
print('a*b=',e)
f=a/b
print('a/b=',f)
g=a%b
print('a%b=',g)
h=a//b
print('a-b',h)
i=a**b
print('a**b=',i)

a+b= 7
a-b= -3
a*b= 10
a/b= 0.4
a%b= 2
a-b 0
a**b= 32

In [ ]:
a=2
b=5
a+=b
print('a=',a)
print('b=',b)

a= 7
b= 5

In [ ]:
a=8
b=5
d=a !=b,
print('a !=b=',d)

a !=b= (True,)

In [ ]:
#speciai operator
a=5
b=5
d=a is b
print('a is b=',d)
d=a is not b
print('a is not b=',d)

a is b= True
a is not b= False

In [ ]:
# in and not in operator
a="HELLO"
b="1"
c=b in a
print("b in a=",c)
d=b not in a
print("b not in a=",d)

b in a= False
b not in a= True

In [ ]:
#input a no and check even
a = int(input('enter a number'))
if a%2==0:
   print('Even No')

enter a number4
Even No

In [ ]:
# input a no and check even.
a=int(input('enter a number'))
if a%2==0:
    print('Even No')

enter a number143

In [ ]:
str= 'python'
for i in str:
   print(i)

p
y
t
h
o
n

In [ ]:
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# To find AREA and PERIMETER.
# Triangle AREA=1/2x b x h .
b = int(input('Enter b = ?'))
h = int(input('Enter h = ?'))
area = 0.5 * b * h
print('AREA OF TRIANGLE =', area)
# Triangle PERIMETER= a+b+c
a = int(input('Enter a = ?'))
b = int(input('Enter b = ?'))
c = int(input('Enter c = ?'))
perimeter=a*b*c
print('PERIMETER OF TRIANGLE =',perimeter)

Enter b = ?12
Enter h = ?11
AREA OF TRIANGLE = 66.0
Enter a = ?10
Enter b = ?22
Enter c = ?4
PERIMETER OF TRIANGLE = 880

In [ ]:
for var in"ABIT":
  if var=="B":
    continue
  print(var)

A
I
T

In [ ]:
for i in range(10):
  print(i)
  if i==2:
    break

0
1
2

In [ ]:
x = abs(-7.25)
print(x)

7.25

In [ ]:
list =[0,2,2]
a = all(list)
print(a)

False

In [ ]:
tuple = (0,1, False)
a= any(tuple)
print(a)

True

In [ ]:
a= ascii("Mostly sane")
print(a)

'Mostly sane'

In [ ]:
a= bin(30)
print(a)

0b11110

In [ ]:
# user defined function
def show():
  print('Hello CSE')
  show()

In [ ]:
# passing parameter in user Defind Function
def ADD(a,b):
  c=a+b
  print('SUM OF TWO NOS=',c)
ADD(10,20)

SUM OF TWO NOS= 30

In [ ]:
# passing parameters in user Defind Function
def ADD(a,b):
  c=a+b
  print('SUM OF TWO NOS=',c)
p=int(input("Enter first no = ?"))
q=int(input("Enter second no = ?"))
ADD(p,q)

Enter first no = ?20
Enter second no = ?10
SUM OF TWO NOS= 30

In [ ]:
# while loop
n = i
while n<=10:
  print(n)
  n=n+1

2
3
4
5
6
7
8
9
10

In [ ]:
# using return statement in user defind function
def sumf(n):
  s=0
  for i in range(1,n+1):
    s=s+i
  return(s)
m=int(input("Enter n=?"))
print('sum of n=',sumf(m))

Enter n=?5
sum of n= 15

In [ ]:
list1=['i','LOVE','PYTHON','ABIT']
list2=[1,2,3,4,5.6]
list3=['python',20,54.6,'rajiv','a','b']

In [ ]:
list=[10,20,30,40,50,60,70,80,90]
print(list[2:6])

[30, 40, 50, 60]

In [ ]:
list=[10,20,30,40,50,60,70,80,90]
print(list[:4])

[10, 20, 30, 40]

In [ ]:
# Triangle area
b=int(input('Enter b:'))
h=int(input('Enter h:'))
area=0.5*b*h
print('Area of a triangle is=',area)
# Triangle perimeter
a=int(input('Enter a:'))
b=int(input('Enter b:'))
c=int(input('Enter c:'))
perimeter=a*b*c
print('perimeter of a triangle is=',perimeter)

Enter b:12
Enter h:4
Area of a triangle is= 24.0
Enter a:5
Enter b:5
Enter c:6
perimeter of a triangle is= 150

In [ ]:
# Rectangle area
b=int(input('Enter b:'))
l=int(input('Enter l:'))
area=l*b
print('Area of a rectangle is=',area)
# Rectangle perimeter
a=int(input('Enter a:'))
b=int(input('Enter b:'))
perimeter=2*(a+b)
print('perimeter of a rectangle is=',perimeter)

Enter b:4
Enter l:5
Area of a rectangle is= 20
Enter a:3
Enter b:2
perimeter of a rectangle is= 10

In [ ]:
# cube volume
s=int(input('Enter s:'))
volume=s*s*s
print('volume of a cube is=',volume)
# cube surface area
s=int(input('Enter s:'))
surface_area=6*s*s
print('surface area of a cube is=',surface_area)

Enter s:20
volume of a cube is= 8000
Enter s:12
surface area of a cube is= 864

In [ ]:
# cuboid volume
l=int(input('Enter l:'))
w=int(input('Enter w:'))
h=int(input('Enter h:'))
volume=l2*w*h
print('volume of a cuboid is=',volume)
# cuboid surface area
l=int(input('Enter l:'))
w=int(input('Enter w:'))
h=int(input('Enter h:'))
surface_area=(2*l*h)+(2*l*w)+(2*w*h)
print('surface area of a cuboid is=',surface_area)

Enter l:2
Enter w:3
Enter h:4
volume of a cuboid is= 24
Enter l:6
Enter w:4
Enter h:2
surface area of a cuboid is= 88

In [ ]:
# Regular tetrahedron volume
import math
b=int(input('Enter b:'))
volume=(b*b*b)/(6*math.sqrt(2))
print('volume of a regular tetrahedron is=',volume)
# Regular tetrahedron surface area
b=int(input('Enter b:'))
surface_area=math.sqrt(3)*b*b
print('surface area of regular tetrahedron is=',surface_area)

Enter b:4
volume of a regular tetrahedron is= 7.542472332656506
Enter b:5
surface area of regular tetrahedron is= 43.301270189221924

In [ ]:
# square pyramids volume
s=int(input('Enter s:'))
h=int(input('Enter h:'))
volume=0.3*s*s*h
print('volume of a square pyramid is=',volume)
# square pyramid surface area
s=int(input('Enter s:'))
h=int(input('Enter h:'))
surface_area=(s*s)+(2*s*h)
print('surface area of a square pyramid is=',surface_area)

Enter s:2
Enter h:5
volume of a square pyramid is= 6.0
Enter s:6
Enter h:4
surface area of a square pyramid is= 84

In [ ]:
# pyramids volume
a=int(input('Enter a:'))
h=int(input('Enter h:'))
volume=0.3*a*h
print('volume of a pyramid is=',volume)

Enter a:12
Enter h:5
volume of a pyramid is= 18.0

In [ ]:
# prisms volume
a=int(input('Enter a:'))
h=int(input('Enter h:'))
volume=a*h
print('volume of a prism is=',volume)
# prism surface area
a=int(input('Enter a:'))
h=int(input('Enter h:'))
p=int(input('Enter p:'))
surface_area=2*a+(h*p)
print('surface area of a prism is=',surface_area)

Enter a:5
Enter h:8
volume of a prism is= 40
Enter a:6
Enter h:4
Enter p:3
surface area of a prism is= 24

In [ ]:
# Triangle prism volume
l=int(input('Enter l:'))
b=int(input('Enter b:'))
h=int(input('Enter h:'))
volume=l*b*h
print('volume of a triangular prism is=',volume)
l=int(input('Enter l:'))
b=int(input('Enter b:'))
h=int(input('Enter h:'))
s=int(input('Enter s:'))
surface_area=(b*h)+(2*l*s)+(l*b)
print('surface area of a triangular prism is=',surface_area)

Enter l:5
Enter b:2
Enter h:3
volume of a triangular prism is= 30
Enter l:2
Enter b:5
Enter h:4
Enter s:4
surface area of a triangular prism is= 46

In [ ]:
# spheres volume
n=int(input('Enter n:'))
r=int(input('Enter r:'))
volume=4/3*(n*r*r*r)
print('volume of a spheres is=',volume)
# spheres surface area
n=int(input('Enter n:'))
r=int(input('Enter r:'))
surface_area=4*n*r*r
print('surface area of a spheres is=',surface_area)

Enter n:23
Enter r:4
volume of a spheres is= 1962.6666666666665
Enter n:12
Enter r:5
surface area of a spheres is= 1200

In [ ]:
# Right cicular cone volume
n=int(input('Enter n:'))
r=int(input('Enter r:'))
h=int(input('Enter h:'))
volume=1/3*(n*r*r*h)
print('volume of a triangular prism is=',volume)
# Right circular  cone surface area
n=int(input('Enter n:'))
r=int(input('Enter r:'))
s=int(input('Enter s:'))
surface_area=n*r*(r+s)
print('surface area of right circular cone is=',surface_area)

Enter n:3
Enter r:3
Enter h:5
volume of a triangular prism is= 45.0
Enter n:21
Enter r:6
Enter s:4
surface area of right circular cone is= 1260

In [ ]:
# Right cylinder volume
n=int(input('Enter n:'))
r=int(input('Enter r:'))
h=int(input('Enter h:'))
volume=n*r*r*h
print('volume of a cylinder is=',volume)
# Right cylinder surface area
n=int(input('Enter n:'))
r=int(input('Enter r:'))
h=int(input('Enter h:'))
surface_area=2*n*r*(r+h)
print('surface area of a right cylinder is=',surface_area)

Enter n:4
Enter r:6
Enter h:9
volume of a cylinder is= 1296
Enter n:4
Enter r:2
Enter h:9
surface area of a right cylinder is= 176

In [ ]:
# swapping without using third variable
x=34
y=65
print('After swapping')
print('Value of x:',y)
print('Value of y:',x)

After swapping
Value of x: 65
Value of y: 34

In [ ]:
# Swapping using third variable
x=34
y=65
temp=x
x=y
y=temp
print('After swapping')
print('value of x:',x)
print('value of y:',y)

After swapping
value of x: 65
value of y: 34

In [ ]:
# Reverse without using looping
rev=0
base=1;
def reverse(num):
  global rev
  global base
  if(num>0):
    reverse((int)(num/10))
    rev+=(num%10)*base
    base*=10
    return rev
num= 1234567
print(reverse(num))

7654321

In [ ]:
my_list = ["apple","orange","banana","strawberry"]
print(my_list)

['apple', 'orange', 'banana', 'strawberry']

In [ ]:
print(type('fruit'))

<class 'str'>

In [ ]:
print(type('jyoti'))
print(type(26))
print(type(True))
print(type(False))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'bool'>

In [ ]:
mylist=['apple','orange','banana']
print(len(mylist))
yourlist=[1,4,8]
print(yourlist)
mylist1=[True,False,True,False]
print(mylist)
mix=['apple',1,2,'orange',True]
print(mix)
print(mix[-2])
print(mix[1:3])
if"apple" in mix:
  print('yes,it is in mylist')
  mylist[2]="orange"
  print(mylist)
mylist.insert(3,"kiwi")
print(mylist)
mylist.append("mango")
print(mylist)

3
[1, 4, 8]
['apple', 'orange', 'banana']
['apple', 1, 2, 'orange', True]
orange
[1, 2]
yes,it is in mylist
['apple', 'orange', 'orange']
['apple', 'orange', 'orange', 'kiwi']
['apple', 'orange', 'orange', 'kiwi', 'mango']

In [ ]:
Mylist=['apple','orange','banana']
if "apple" in Mylist:
  print('it is in the list')

it is in the list

In [ ]:
Mylist[1]="mango"
print(mylist)

['apple', 'orange', 'orange', 'kiwi', 'mango']

In [ ]:
Mylist.insert(3,"kiwi")
print(Mylist)

['app', 'or', 'ab', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'mango', 'mango']

In [ ]:
mylist1 = ['apple','orange','banana']
for i in  mylist1:
  print(i)

apple
orange
banana

In [ ]:
Mylist1 =['apple','orange','banana']
Mylist =['app','or','ab']
print(Mylist1)

['apple', 'orange', 'banana']

In [ ]:
Mylist.append("mango")
print(Mylist)

['app', 'or', 'ab', 'mango', 'mango']

In [ ]:
mylist1 = ['apple','orange','banana']
for i in mylist1:
  print(i)
  while(length>2)

In [ ]:
unsorted_list=[5,2,-3,7,99]
sorted_list=sorted(unsorted_list)
print("sorted list:",sorted_list)

sorted list: [-3, 2, 5, 7, 99]

In [ ]:
import numpy as np
data2=[[1,2,3,4],[5,5,7,8]]
arr2=np.array(data2)
print(arr2.ndim)
print(arr2.shape)

2
(2, 4)

In [ ]:
import numpy as np
data2=[[1,2,3,4],[5,6,7,8],[55,66,76,88]]
arr2 = np.array(data2)
print(arr2.ndim)
print(arr2.shape)
print(arr2)

2
(3, 4)
[[ 1  2  3  4]
 [ 5  6  7  8]
 [55 66 76 88]]

In [ ]:
array = np.arange(0,10,2)
a

array([[1, 1, 1],
       [2, 3, 8],
       [0, 9, 5]])

In [ ]:
a = np.random.randint(0,10,(3,3))
a

array([[7, 2, 2],
       [6, 0, 1],
       [4, 3, 9]])

In [ ]:
array = np.eye(3)
a

array([[7, 2, 2],
       [6, 0, 1],
       [4, 3, 9]])

In [ ]:
array = np.ones((2,3))
a

array([[7, 2, 2],
       [6, 0, 1],
       [4, 3, 9]])

In [ ]:
 ar = np.zeros((2,3))
a

array([[7, 2, 2],
       [6, 0, 1],
       [4, 3, 9]])

In [ ]:
arr = np.array([[1,2,3],[4,5,6]])
print(arr)
[(1,2,3)]
[4,5,6 ]

[[1 2 3]
 [4 5 6]]

[4, 5, 6]

In [ ]:
import numpy as np
print('Enter row size')
r=int(input())
print('Enter column size')
c=int(input())
arr=np.random.randint(0,50,(r,c))
print(arr)

Enter row size
2
Enter column size
3
[[43  4  7]
 [ 0 46  0]]

In [ ]:
def gcd_fun(x,y):
 if(y==0):#
   return x
 else:
  return gcd_fun(y,x%y)
x =int(input("enter the first number:"))
y =int(input("enter the second number:"))
num=gcd_fun(x,y)
print("GCD of two numbers is:")
print(num)

enter the first number:30
enter the second number:40
GCD of two numbers is:
10

In [ ]:
# searching list sequentially
for i in range(0,n):
  if(list1[i] == key):
    return i
    return-1
    list 1=